<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
        <script defer src="https://pyscript.net/latest/pyscript.js"></script>
        <meta charset="UTF-8" />
        <title>NSU map</title>
    </head>
    <body>
        <h1>길찾기</h1>
    <form method="POST">
        <label for="start">출발지:</label>
        <input type="text" id="start" name="start" required><br><br>
        <label for="end">도착지:</label>
        <input type="text" id="end" name="end" required><br><br>
        <input type="submit" value="길찾기">
    </form>
        <iframe title="NSU map" src="./NSUmap.html" width="100%" height="850px" >
            {% if map_html %}
            <h2>경로 지도</h2>
            <div>{{ map_html | safe }}</div>
        {% else %}
        <div></div>
        {% endif %}
        {% if error_message %}
            <p style="color:red;">{{ error_message }}</p>
        {% endif %}
        os.path.join(app.root_path, 'static', 'sampleTest.csv')  # 절대 경로 사용
    </body>
</html>